<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= projectName %></title>
    <meta name="viewport" content="initial-scale=1"/>
    <link rel="shortcut icon" type="image/ico" href="favicon.ico">
</head>
<body>
<div style="padding: 25px 0 25px 50px; font: 16px/26px monospace;">
    <p style="font-size: 30px; font-weight: bold;">Project: <%= projectName %></p>
    <ol style="margin-bottom: 50px">
        <li><a style="color:#000" href="main.html">Главная</a></li>
    </ol>
</div>
</body>
</html>
